{{yield}}

<form>
  <div class="form-group">
    <label for="category">New Category</label>
    {{input value=name id="category" class="form-control"}}
  </div>
  <button class="btn" {{action 'save'}}>Add</button>
</form>
