{{outlet}}
<ul>
  {{#each model as |category|}}
    {{#link-to 'admin-category' category.id}}
    <li>{{category.name}}</li>
    {{/link-to}}
    <button class="btn btn-danger" {{action 'destroyCategory' category}}>Delete</button>
  {{/each}}
</ul>
{{new-category saveCategory="saveCategory"}}
