<div class="container">
  <h1>Welcome to Craigslist Copy</h1>
{{outlet}}
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container row">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="admin">Admin</a></li>
      </ul>
      {{search-bar searchItem="searchItem"}}
    </div>
  </nav>
</div>
