<div class="container">
  <h1>Welcome to Craigslist Copy</h1>
{{outlet}}
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container row">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="admin">Admin</a></li>
      </ul>
      <div class="input-group input-group-right">
        {{input value=search id="search" class="form-control" placeholder="Search for..."}}
        <span class="input-group-btn">
          <button class="btn btn-default" {{action "searchItem"}}>Go!</button>
        </span>
      </div><!-- /input-group -->
    </div>
  </nav>
</div>
